@font-face {
  font-family: 'layout';
  src:
    url('../fonts/layout.ttf?o5hq4h') format('truetype'),
    url('../fonts/layout.woff?o5hq4h') format('woff'),
    url('../fonts/layout.svg?o5hq4h#layout') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="layout-"], [class*=" layout-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'layout' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-add_circle:before {
  content: "\e900";
}
.layout-arrow_lift:before {
  content: "\e901";
}
.layout-check_circle:before {
  content: "\e902";
}
.layout-close:before {
  content: "\e903";
}
.layout-favorite:before {
  content: "\e904";
}
.layout-keyboard_arrow_right:before {
  content: "\e905";
}
.layout-remove_circle_outline:before {
  content: "\e906";
}
.layout-shopping_cart:before {
  content: "\e907";
}
.layout-thumb_down:before {
  content: "\e908";
}
.layout-thumb_up:before {
  content: "\e909";
}
.layout-wifi:before {
  content: "\e90a";
}
.layout-tux:before {
  content: "\eabd";
}
.layout-android:before {
  content: "\eac0";
}
.layout-reddit:before {
  content: "\eac6";
}
